{% extends "layout.html" %}

{% block main %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Pet Name</th>
        <th>Breed</th>
        <th>Weight (Kg)</th>
        <th>Gender</th>
        <th>Pet tutor</th>
    </tr>
    </thead>
    <tbody>
    {% for item in list %}
    <tr>
        <td><a class="links" href="/pet/pet_info/{{ item.PetId }}">{{ item.PetName|title }}</a></td>
        <td>{{ item.PetBreed|title }}</td>
        <td>{{ item.PetWeight }}</td>
        <td>{{ item.PetGender }}</td>
        <td><a class="links" href="/customer/customer_info/{{ item.id }}">{{ item.TutorName }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}