{% extends "layout.html" %}

{% block script %}
<script>
    function myFilter() {
        var year = document.getElementById("year");
        var month = document.getElementById("month");
        var pet = document.getElementById("pet");

        var table = document.getElementById("eventsTable");
        var tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (var i = 0; i < tr.length; i++) {
            var td_date = tr[i].getElementsByTagName("td")[0];
            var td_pet = tr[i].getElementsByTagName("td")[1];
            if (td_date && td_pet) {
                var dateValue = td_date.textContent;
                var petName = td_pet.textContent;

                // If year and month are chosen, filter everything
                if (year.value != 0 && month.value != 0) {
                    if (year.value == parseInt(dateValue.substring(0, 4)) &&
                        month.value == parseInt(dateValue.substring(5, 7)) &&
                        (pet.value == petName || pet.value == 0)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }

                // If not, filter only by the petname
                } else if (pet.value == petName || pet.value == 0) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function resetFilters() {
        var tr = document.getElementById("eventsTable").getElementsByTagName("tr");
        for (var i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
        }
    }


</script>
{% endblock %}

{% block main %}

<div class="input-group mb-3" style="width:200px;" onchange="myFilter()">
    <form>
        <label for="year">Year:
            <select name="year" id="year" class="form-control">
                <option value="0">Select Year</option>
                {% for y in years %}
                <option value={{ y.year }}>{{ y.year }}</option>
                {% endfor %}
            </select></label>

        <label for="month">Month:
            <select name="month" id="month" class="form-control">
                <option value="0">Select Month</option>
                <option value=1>January</option>
                <option value=2>February</option>
                <option value=3>March</option>
                <option value=4>April</option>
                <option value=5>May</option>
                <option value=6>June</option>
                <option value=7>July</option>
                <option value=8>August</option>
                <option value=9>September</option>
                <option value=10>October</option>
                <option value=11>November</option>
                <option value=12>December</option>
            </select></label>

        <label for="pet">Dog:
            <select name="pet" id="pet" class="form-control">
                <option value="0">Select Pet:</option>
                {% for pet in pets %}
                <option value={{ pet.Name }}>{{ pet.Name }}</option>
                {% endfor %}
            </select></label>

        <input type="reset" id="reset-filters" class="btn btn-lg btn-secondary submit" onclick="resetFilters()"
               value="Reset filters">
    </form>
</div>

<table class="table table-striped" id="eventsTable">
    <thead>
    <tr>
        <th>Date</th>
        <th>Pet</th>
        <th>Event</th>
        <th>Transport</th>
    </tr>
    </thead>
    <tbody>
    {% for ev in events %}
    <tr>
        <td>{{ ev.Date }}</td>
        <td>{{ ev.Pet }}</td>
        <td><a class="links" href="/event/edit_event/{{ ev.id }}">{{ ev.Event }}</a></td>
        {% if ev.Transport %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}