{% extends "layout.html" %}

{% block title %}
Edit Event
{% endblock %}

{% block header %}
Edit Event
{% endblock %}

{% block main %}

<div class="container">
    <div class="section">
        <form action="" method="POST">
            <input name="id" hidden value="{{ event.id }}">

            <label for="date">Date:
                <br>
                <input name="date" id="date" type="date" class="form-control" value="{{ event.Date }}" autofocus
                       autocomplete="off" required>
            </label>
            <br>
            <label for="pet">Pet:
                <br>
                <select name="pet" id="pet" class="form-control" required>
                    {% for pet in pets %}
                    {% if pet.id == event.pet_id %}
                    <option value={{ pet.id }} selected>{{ pet.Name }}</option>
                    {% else %}
                    <option value={{ pet.id }}>{{ pet.Name }}</option>
                    {% endif %}
                    {% endfor %}
                </select></label>
            <br>
            <label for="event">Event:
                <input name="event" autocomplete="off" id="event" class="form-control" placeholder="Day Care, Banho..."
                       value="{{ event.Event }}" type="text" autocomplete="off" required></label>
            <br>
            <label for="transport"> Transport:
                <select name="transport" id="transport" class="form-control" required>
                    {% if event.Transport == 1 %}
                    <option value=1 selected>Yes</option>
                    <option value=0>No</option>
                    {% else %}
                    <option value=1>Yes</option>
                    <option value=0 selected>No</option>
                    {% endif %}
                </select></label>
            <br>
            <br>
            <input type="submit" name="action" class="btn btn-lg btn-secondary submit" value="Confirm">
            <input type="submit" name="action" class="btn btn-lg btn-secondary submit" value="Cancel">
            <input type="submit" name="action" class="btn btn-danger btn-lg submit" value="Delete Event">
        </form>
    </div>
</div>

{% endblock %}