{% extends "layout.html" %}

{% block title %}
New Event
{% endblock %}

{% block header %}
New Event
{% endblock %}

{% block main %}
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {{ form.date(class="form-control form-control-lg", autocomplete="off", autofocus="true") }}
                </div>

                <div class="form-group">
                    {{ form.pet.label(class="form-control-label") }}
                    {{ form.pet(class="form-control form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ form.event.label(class="form-control-label") }}
                    {{ form.event(class="form-control form-control-lg", placeholder="Evento") }}
                </div>

                <div class="form-group">
                    {{ form.need_transport(class="form-check-input ml-0") }}
                    {{ form.need_transport.label(class="form-check-label ml-4") }}
                </div>

                <div class="form-group">
                    {% if form.submit %}
                        {{ form.submit(class="btn btn-lg btn-secondary submit") }}
                    {% else %}
                        {{ form.confirm(class="btn btn-lg btn-secondary submit") }}
                        {{ form.cancel(class="btn btn-lg btn-secondary submit") }}
                        {{ form.delete(class="btn btn-danger btn-lg submit") }}
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}