{% extends "layout.html" %}

{% block title %}
New Event
{% endblock %}

{% block links %}
<div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2">
        <li class="nav-link"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-link active"><a class="nav-link" href="/event/new_event">New event</a></li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2">
        <li class="nav-link"><a class="nav-link" href="/customer/new_customer">New customer</a></li>
        <li class="nav-link"><a class="nav-link" href="/customer/customers">Customers</a></li>
        <li class="nav-link"><a class="nav-link" href="/pet/pets">Pets</a></li>
    </ul>
</div>
{% endblock %}

{% block header %}
New Event
{% endblock %}

{% block main %}
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {{ form.date(class="form-control form-control-lg", autocomplete="off", autofocus="true") }}
                </div>

                <div class="form-group">
                    {{ form.pet.label(class="form-control-label") }}
                    {{ form.pet(class="form-control form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ form.event.label(class="form-control-label", placeholder="Teste") }}
                    {{ form.event(class="form-control form-control-lg", placeholder="Evento") }}
                </div>

                <div class="form-group">
                    {{ form.need_transport(class="form-check-input ml-0") }}
                    {{ form.need_transport.label(class="form-check-label ml-4") }}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-lg btn-secondary submit") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}