{% extends "layout.html" %}

{% block title %}
Error (403)
{% endblock %}

{% block links %}
<div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2">
        <li class="nav-link"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-link"><a class="nav-link" href="/event/new_event">New event</a></li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2">
        <li class="nav-link"><a class="nav-link" href="/customer/new_customer">New customer</a></li>
        <li class="nav-link"><a class="nav-link" href="/customer/customers">Customers</a></li>
        <li class="nav-link"><a class="nav-link" href="/pet/pets">Pets</a></li>
    </ul>
</div>
{% endblock %}

{% block main %}
    <div class="content-section">
        <h1>You don't have permission to do that (403)</h1>
        <p>Please check your account and try again</p>
    </div>
{% endblock main %}
