{% extends "layout.html" %}

{% block title %}
Error (500)
{% endblock %}

{% block links %}
<div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2">
        <li class="nav-link"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-link"><a class="nav-link" href="/event/new_event">New event</a></li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2">
        <li class="nav-link"><a class="nav-link" href="/customer/new_customer">New customer</a></li>
        <li class="nav-link"><a class="nav-link" href="/customer/customers">Customers</a></li>
        <li class="nav-link"><a class="nav-link" href="/pet/pets">Pets</a></li>
    </ul>
</div>
{% endblock %}

{% block main %}
    <div class="content-section">
        <h1>Something went wrong (500)</h1>
        <p>We're experiencing some trouble on our end. Please try again in the near future</p>
    </div>
{% endblock main %}
