{% extends "layout.html" %}

{% block title %}
New Customer
{% endblock %}

{% block script %}
<script>
    // Thank you, viacep: https://viacep.com.br/exemplo/javascript/

    function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('rua').value=("");
            document.getElementById('bairro').value=("");
            document.getElementById('cidade').value=("");
            document.getElementById('uf').value=("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('rua').value=(conteudo.logradouro);
            document.getElementById('bairro').value=(conteudo.bairro);
            document.getElementById('cidade').value=(conteudo.localidade);
            document.getElementById('uf').value=(conteudo.uf);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP not found.");
        }
    }

    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('rua').value="...";
                document.getElementById('bairro').value="...";
                document.getElementById('cidade').value="...";
                document.getElementById('uf').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Invalid CEP format.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };

</script>
{% endblock %}

{% block header %}
New Customer
{% endblock %}

{% block main %}

<form action="/customer/new_customer" method="POST">
    <div class="form-group">
        <label>Name:
            <br>
            <input type="text" name="name" placeholder="Customer name" autofocus autocomplete="off" class="form-control"
                   style="width: 300%;" required></label>
        <br/>
        <br/>

        <label>Phone number:
            <br>
            <input type="tel" name="phone" class="form-control sp_celphones" maxlength="15"
                   placeholder="(11) 99999-9999" autocomplete="off"></label>
        <br/>
        <br/>

        <label>E-mail:
            <br>
            <input type="email" name="email" placeholder="customer@domain.com" autocomplete="off" style="width: 300%;"
                   class="form-control"></label>
    </div>
    <br>
    <br>

    <div class="form-group address">
        <h2>Address Information:</h2>
        <br>
        <div class="input-group mb-3">
            <label for="cep">ZIP Code:
                <br>
                <input type="text" class="form-control cep" id="zip code" name="zip_code" placeholder="00000-000"
                       maxlength="9" onblur="pesquisacep(this.value);" style="width:90%;"></label>

            <label>Location:
                <br>
                <input type="text" name="location" placeholder="Street, Av., etc." autocomplete="off"
                       id="rua" style="width:300%;" class="form-control" required></label>

        </div>
        <br>
        <div class="input-group mb-3">
            <label>Number:
                <br>
                <input type="text" name="number" placeholder="Number" autocomplete="off" style="width:90%;"
                       class="form-control"></label><br/>

            <label>Complement:
                <br>
                <input type="text" name="complement" placeholder="Complement" autocomplete="off"
                       style="width:300%;" class="form-control"></label><br/>
        </div>

        <br>

        <div class="input-group mb-3">

            <label>District:
                <br>
                <input type="text" name="district" placeholder="District" autocomplete="off" id="bairro"
                       style="width:150%;" class="form-control" required></label><br/>
            <br>
            <span class="input-space"></span>

            <label>City:
                <br>
                <input type="text" name="city" placeholder="City" autocomplete="off" id="cidade"
                       style="width:90%;" class="form-control" required></label><br/>
            <br>
            <label>State:
                <br>
                <input type="text" name="state" placeholder="UF" autocomplete="off" id="uf" style="width:30%;"
                       class="form-control" required></label><br/>
        </div>
    </div>

    <br>
    <br>
    <button class="btn btn-lg btn-secondary submit" type="submit">Register customer</button>
</form>

{% endblock %}